.flex {
    display: flex;
    flex-flow: row wrap;/*flex flow incluye los atributos flex-wrap y flex direction*/
    height: 200px;
}
.primero {
    flex-grow: 1;
    flex-basis: 120px; /*flex basis asigna un tamaño inicial respecto al cual van a funcionar el resto de propiedades como flex-grow*/
    flex: 1 120px;
}

.tercero {
    flex-grow: 2;
    align-self: baseline; /*esta propiedad a parte de poner el contenido al principio de la linea deja de usar el sobrante de su contenedor*/
    /*Las propiedades float, clear y vertical-align no tienen efecto en flexbox*/
}

.segundo {
    flex-grow: 1;
}